PORT=3000
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JWT_SECRET=your-super-secret-jwt-key-change-in-production
ALLOWED_ORIGINS=http://localhost:4200

FIREBASE_API_KEY=AIzaSyAPV6dRAu9O8NbsHmoIhRmfFEP1brewVX8
FIREBASE_AUTH_DOMAIN=cyberguard-web.firebaseapp.com
FIREBASE_PROJECT_ID=cyberguard-web
